<p id="notice"><%= notice %></p>

<h1>Listing Bricks</h1>

<table>
  <thead>
    <tr>
      <th>Set number</th>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bricks.each do |brick| %>
      <tr>
        <td><%= brick.set_number %></td>
        <td><%= brick.name %></td>
        <td><%= brick.description %></td>
        <td><%= brick.price %></td>
        <td><%= link_to 'Show', brick %></td>
        <td><%= link_to 'Edit', edit_brick_path(brick) %></td>
        <td><%= link_to 'Destroy', brick, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Brick', new_brick_path %>
